@font-face {
  font-family: "Roboto-Thin";
  src: url(./assets/polices/Roboto-Thin.ttf);
}
@font-face {
  font-family: "RyujinAttack";
  src: url(./assets/polices/RyujinAttack.otf);
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url(./assets/polices/Shrikhand-Regular.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  width: 70%;
  margin: auto;
  font-family: "roboto";
}

@media screen and (max-width: 992px){
  .app{
    width: 100%;
  }
}